.App{
  display: flex;
  width: 550px;
  padding: 10px 117px 10px 116px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #23252C;
}

.social-icons-img{
  width: 16px;
  height: 16px;
}

.card-container{
  background: #1A1B21;
    border-radius: 10px;
}

@media (prefers-color-scheme: light) {
  .card-container{
    background: #F5F5F5;
  }
}