.social-footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
    border-radius: 0px 0px 10px 10px;
    background: #161619;
    fill: #918E9B;
  height: 65px;
  margin-top: 24px;
}

.social-icon-link img{
  width: 35px;
  height: 35px;
  margin: 20px;
}

@media (prefers-color-scheme: light) {
    .social-footer-icons{
      background: #D5D4D8;
    }
}